<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Railway Ticket Reservation System</title>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCNDyjOb4m64tctYDe2l1GriHms8n7b3oA",
            authDomain: "ticketreservation-187900.firebaseapp.com",
            databaseURL: "https://ticketreservation-187900.firebaseio.com",
            projectId: "ticketreservation-187900",
            storageBucket: "ticketreservation-187900.appspot.com",
            messagingSenderId: "22743771093"
        };
        firebase.initializeApp(config);
    </script>
</head>
<body>
<h1>Railway Ticket Reservation System</h1>

<button ng-click=""></button>
</body>

</html>